[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-contrib-python = "*"
gunicorn = "*"
numpy = "*"
streamlit = "*"
Flask = "*"
Jinja2 = "*"
bokeh = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
